ffmpeg-python==0.1.18
imageio==2.23.0
imageio-ffmpeg==0.4.7
numpy==1.24.0
pandas==1.5.2
python-dateutil==2.8.2
pytz==2022.7
pyyaml==6.0
scikit-learn==1.2.0
scipy==1.9.3
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
tqdm==4.64.1
matplotlib==3.6.2
face-alignment==1.3.5
scikit-image==0.19.3